<link rel="stylesheet" href="/stylesheets/landing.css">





<video autoplay muted loop id="video">
  <source src="/video/bgvideo.mp4" type="video/mp4">
</video>
<div class="content">
 <nav>
        <a href="#" class="logo">UNION</a>
        <div class="menu">
            <ul>
                <li><a href="#">HOME</a></li>
                <li><a href="/login">JOBS</a></li>
                <li><a href="/login">VIEW COMPANIES </a></li>
                <button class="userlogin"><a href="/login">LOGIN</a></button>
            </ul>
        </div>
        </div>
    </nav>