<link rel="stylesheet" href="/stylesheets/">


<div class="wrapper">
    <nav>
        <a href="#" class="logo">Home</a>
        <input type="checkbox" name="" id="toggle">
        <label for="toggle"><i class="fa-sharp fa-solid fa-bars"></i></label>
    </nav>
</div>