<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />



{{#each jobapplication}}

<article class="card">
   
<div class="card_content">
        <span class="card_subtitle">{{jobTitle}}</span><br>
        <span class="card_subtitle">{{companyName}}</span><br>
        <span class="card_subtitle">{{appliedDate}}</span><br>
        <span class="card_subtitle">{{status}}</span><br>
        
    
<ul class="wrapper">
    <li class="icon facebook">
        <span class="tooltip">Edit</span>
        <span><i class="fa-solid fa-pen-nib"></i></span>
    </li>
    <li class="icon twitter">
        <span class="tooltip">Delete</span>
        <span><i class="fa-solid fa-trash"></i></span>
    </li>
  
</div>
</article>

{{/each}}