<div class="container">

    <div class="form">
<form action="/company/addjob" method="post">
    <input  type="text" name="title" placeholder="Title"><br><br>
    <textarea name="description" id="" cols="30" rows="10" spaceholder="Description"  ></textarea><br><br>
    <input  type="text" name="qualification" placeholder="Qualification"><br><br>
    <input  type="number" name="vacancy" placeholder="Vacancy"><br><br>
    <input  type="number" name="salary" placeholder="Salary"><br><br>

<select class="form-select" aria-label="Default select example" name="experience">
  <option selected>Select Experience</option>
  <option value="0-1">0-1 years</option>
  <option value="1-2">1-2 years</option>
  <option value="2-3">2-3 years</option>
  <option value="3+">3+ years</option>
</select><br><br>

    <input  type="date" name="lastDate" placeholder="Last Date"><br><br>

    <select class="form-select" aria-label="Default select example" name="jobType">
  <option selected>Select Job Type</option>
  <option value="Full-Time">Full-Time</option>
  <option value="Part-Time">Part Time</option>
  <option value="Intern">Intern</option>
  <option value="Temporary">Temporary</option>
</select><br><br>

<button type="submit">Save</button>


</form>


    </div>


</div>