<link rel="stylesheet" href="/stylesheets/home.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />



<div class="wrapper">
    <nav>
        <a href="#" class="logo">UNION</a>
        <input type="checkbox" name="" id="toggle">
        <label for="toggle"><i class="fa-sharp fa-solid fa-bars">Menu</i></label>
        <div class="menu">
            <ul>
                <li><a href="#">HOME</a></li>
                <li><a href="/company/viewjobs">JOBS</a></li>
                <li><a href="/company/addjob">ADD JOB</a></li>
                <li><a href="/company/userapplications">VIEW APPLICATIONS</a></li>
                <li class="profile"><a href="/viewprofile"><i class="fa-solid fa-user"></i></a></i></li>
            </ul>
        </div>
    </nav>
</div>


