
<link rel="stylesheet" href="/stylesheets/companylogin.css">




<div class="container">
  <div class="left">
   
    <div class="form">
      <h2 class="animation a1">COMPANY LOGIN</h2>
        <form  method="post" action="/company/login">
      <input type="email" class="form-field animation a3" placeholder="Email Address" name="eMail"><br>
      <input type="password" class="form-field animation a4" placeholder="Password" name="password">
      <p class="animation a5">Not a Member?<a href="/company/signup">Signup Now</a></p>
      <button>
    Sign in
    <div class="arrow-wrapper">
        <div class="arrow"></div>

    </div>
</button>
      </form>
    </div>
  </div>
  <div class="right"></div>
</div>