<div class="center">
    <h3>LOGIN</h3>
    <form method="post" action="/company/login">
        <div class="txt_field">
            <input type="text" required name="eMail">
            <label>E-Mail</label>
        </div>
        <div class="txt_field">
            <input type="password" required name="password">
            <label>Password</label>
        </div>
        <div class="pass">Forgot password?</div>
        <input type="submit" value="Login">
        <div class="signup_link">
        Not a member?<a href="">Register Now</a>
        </div>
    </form>
</div>