<link rel="stylesheet" href="stylesheets/usersignup.css">

<div class="container">

<div class="content">
    <h2>SIGNUP</h2>
    
    <form action="/company/signup" method="post">
<label for="">Employer NAME:</label>
<input type="text" name="empName"><br><br>
<label for="">E-MAIL:</label>
<input type="email" name="eMail"><br><br>
<label for="">PHONE NUMBER:</label>
<input type="number" name="phoneNo"><br><br>
<label for="">PASSWORD:</label>
<input type="password" name="password"><br><br>

<select name="companyType" class="form-select" aria-label="Default select example" >
  <option selected>Select Company Type</option>
  <option value="1">Software</option>
  <option value="2">Architecture</option>
  <option value="3">Finance</option>
  <option value="4">Marketing</option>
</select>

<button>SIGNUP</button>
</div>
</form>
</div>