<form action="" method="post">


<input type="file" name="image" accept=".jpg" id="companyimage"><br><br>

<textarea name="about" id="companyabout" cols="30" rows="10" spaceholder="About">about</textarea><br><br>

<textarea name="address" id="address" cols="30" rows="10" spaceholder="Address">address</textarea><br><br>

<textarea name="mission" id="mission" cols="30" rows="10" spaceholder="mission">mission</textarea><br><br>

<textarea name="vision" id="vision" cols="30" rows="10" spaceholder="vision">vision</textarea><br><br>

<button class="save">Save</button>


</form>